# Object file
*.o

# Ada Library Information
*.ali
/Chapter2/.vs/Chapter2.slnx
/Chapter2/Chapter2/bin/Debug/netcoreapp3.1
/Chapter2/Chapter2/obj
/.vs
/Chapter2/.vs/ProjectEvaluation
/Chapter2/NumberAndDateFormatConsoleApp/bin/Debug/netcoreapp3.1
/Chapter2/NumberAndDateFormatConsoleApp/obj
/Chapter2/.vs/Chapter2/CopilotIndices/18.7.1244.59975
/Chapter2/QuantifiedMethods/bin/Debug/netcoreapp3.1
/Chapter2/QuantifiedMethods/obj
/Chapter2/.vs/Chapter2/CopilotIndices/18.9.1311.36310
/Chapter2/VariableFoundation/bin/Debug/netcoreapp3.1
/Chapter2/VariableFoundation/obj
/Chapter2/StoringNumbers/bin/Debug/netcoreapp3.1
/Chapter2/StoringNumbers/obj
/Chapter2/StoringReferenceTypes/bin/Debug/netcoreapp3.1
/Chapter2/StoringReferenceTypes/obj
/Chapter2/InferringValueTypes/bin/Debug/netcoreapp3.1
/Chapter2/InferringValueTypes/obj/Debug/netcoreapp3.1
/Chapter2/InferringValueTypes/obj
/Chapter2/Chapter2.Shared/bin/Debug/netcoreapp3.1
/Chapter2/Chapter2.Shared/obj
/Chapter2/NullableValueTypes/bin/Debug/netcoreapp3.1
/Chapter2/NullableValueTypes/obj
